<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# medium-com: http://ogp.me/ns/fb/medium-com#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="../assets/css/Balloon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:title" content="(ч.3) Яндекс Школа Мобильной Разработки iOS – Вячеслав Хорьков – Medium">
    <meta property="og:url" content="https://medium.com/@artFintch/yandex-ios-school-3-f097524bd99e">
    <meta property="og:image" content="https://cdn-images-1.medium.com/max/1200/1*Ji3KEVxbA_7uflAgm1bg-g.png">
    <meta property="og:description" content="Обучение">
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"NewsArticle","image":{"@type":"ImageObject","width":1170,"height":331,"url":"https://cdn-images-1.medium.com/max/2000/1*Ji3KEVxbA_7uflAgm1bg-g.png"},"datePublished":"2017-10-04T19:01:56.478Z","dateModified":"2017-11-28T08:27:25.574Z","headline":"(ч.3) Яндекс Школа Мобильной Разработки iOS","name":"(ч.3) Яндекс Школа Мобильной Разработки iOS","keywords":["iOS","Swift","Яндекс","Обучение","Yandex"],"author":{"@type":"Person","name":"Вячеслав Хорьков","url":"https://medium.com/@artFintch"},"creator":["Вячеслав Хорьков"],"publisher":{"@type":"Organization","name":"Medium","url":"https://medium.com/","logo":{"@type":"ImageObject","width":215,"height":60,"url":"https://cdn-images-1.medium.com/max/430/1*5ztbgEt4NqpVaxTc64C-XA.png"}},"mainEntityOfPage":"https://medium.com/@artFintch/yandex-ios-school-3-f097524bd99e"}
    </script>
  </head>
  <body>
    <div class="outer">
      <div class="middle">
        <div class="inner">

  <div class="wrapper">
    <section>
      <div id="title">
        <h1>About Me</h1>
        <p>Khorkov Vyacheslav, iOS Developer</p>
        <div class="icons">
          <div>
            <a data-balloon="GitHub" data-balloon-pos="down" class="icon" href="https://github.com/artFintch">
              <img src="../assets/images/github.png">
            </a>
          </div>
          <div>
            <a data-balloon="Medium" data-balloon-pos="down" class="icon" href="https://medium.com/@artFintch">
              <img src="../assets/images/medium_bw.png">
            </a>
          </div>
          <div>
            <a data-balloon="HeadHunter" data-balloon-pos="down" class="icon" href="https://ekaterinburg.hh.ru/applicant/resumes/view?resume=227c8eb0ff013a445d0039ed1f395a436a494a">
              <img src="../assets/images/hh_bw.png">
            </a>
          </div>
          <div>
            <a data-balloon="LinkedIn" data-balloon-pos="down" class="icon" href="https://www.linkedin.com/in/vyacheslav-khorkov-92b65164/">
              <img src="../assets/images/linkedin_bw.png">
            </a>
          </div>
          <div>
            <a data-balloon="Upwork" data-balloon-pos="down" class="icon" href="https://www.upwork.com/o/profiles/users/_~01379889e9ed58198c/">
              <img src="../assets/images/upwork_bw.png">
            </a>
          </div>
        </div>
      </div>
      {{ content }}
    </section>
  </div>

</div>
  </div>
</div>

  <footer>
    <div id="footer">
      <span>Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
      <br>
      <span>© 2017. All rights reserved.</span>
    </div>
  </footer>

  </body>
</html>
